---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign start_year = 2023 %}
{% assign end_year = 2080 %}

<!-- Generate the list of years in reverse order -->
{% assign years = (start_year..end_year) | reverse %}

<!-- Loop through each year -->
{% for year in years %}
  {% assign title_shown = false %}
  
  <!-- Loop through the publications in reverse order by date -->
  {% for post in site.publications reversed %}
    {% if post.year == year %}
      {% unless title_shown %}
        <h2>{{ year }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single-pub.html %}
    {% endif %}
  {% endfor %}
{% endfor %}
