{% include base_path %}

<div class="pub-item"> 
<!--   style="font-size: 0.9em; line-height: 1.4em;" -->
  <p style="margin: 0;">
    <span>{{ post.authors }}</span>
    {% if post.note %}
      - <span><em>{{ post.note }}</em></span>
    {% endif %}
    - <span><strong>
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
    </strong></span>
    {% if post.venue %}
      - <span>{{ post.venue }}</span>
    {% endif %}
  </p>
  </p>
  <p style="margin: -1em 0 0 0;">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">Paper</a>
    {% endif %}
    {% if post.slidesurl %}
      | <a href="{{ post.slidesurl }}">Slides</a>
    {% endif %}
    {% if post.codeurl %}
      | <a href="{{ post.codeurl }}">Code</a>
    {% endif %}
    <!-- Add other links similarly -->
  </p>
</div>
