{% include base_path %}

<div class="pub-item"> 
<!--   style="font-size: 0.9em; line-height: 1.4em;" -->
  <p style="margin: 0; font-size: 0.8em;">
    <span>{{ post.authors }}</span>
    {% if post.note %}
      - <span><em>{{ post.note }}</em></span>
    {% endif %}
    - <span><strong>
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
    </strong></span>
    {% if post.venue %}
      - <span>{{ post.venue }}</span>
    {% endif %}
  </p>

  {% if post.labels %}
  <p style="margin: 0.2em 0;">
    {% for label in post.labels %}
      <span style="display: inline-block; background-color: #e9ebec; color: #4a4f53; padding: 0.4em 0.4em; margin-right: 0.3em; border-radius: 4px; font-size: 0.6em;">{{ label }}</span>
    {% endfor %}
  </p>
{% endif %}
  
  <p style="margin: 0; font-size: 0.8em;">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">Paper</a>
    {% endif %}
    {% if post.slidesurl %}
      | <a href="{{ post.slidesurl }}">Slides</a>
    {% endif %}
    {% if post.codeurl %}
      | <a href="{{ post.codeurl }}">Code</a>
    {% endif %}
    <!-- Add other links similarly -->
  </p>

  <br>
</div>
